body
  width 100%
  overflow hidden
  margin 0
  padding 0
  height 100%
  .App
    max-width 920px
    display block
    overflow hidden
    height 100%
    margin 0 auto

.control__panel
  background olive
  height 100%

.compass__container
  position absolute