body
  width 100%
  overflow hidden
  margin 0
  padding 0
  height 100%
  background-color darken(#252B37, 3%);

.App
  max-width 920px
  overflow hidden
  height 100vh
  margin 0 auto
  display flex
  flex-direction row
  justify-content center
  align-items center

.luckdraw
  width 550px
  height 350px
